<div style="margin: 0% 20% 0 20%">
<h1>Profile Page</h1>

<div class="box" id="userhistory">
<div class="btn btn-primary"><%= link_to 'User History', histories_path, class: "btn btn-primary" %></div>
<hr>
<div type="View and manage your goods and services">View and manage your goods and services</div>
</div>
<hr>

<div class="box" id="aboutme"> 
<div>About Me</div>
<div class="btn btn-primary">Introduce Yourself</div>
<hr>
<div> Add your occupation, when you moved here, your hometown, or a short bio.</div>
</div>
<hr>

<div class="box" id="myfamily">
<div>My Family</div>
<hr>
<div class="btn btn-primary">Add Family and Pets</div>
</div>
<hr>

<div class="box" id="emergencycontacts">
<div>Emergency Contacts</div>
<hr>
<div class="btn btn-primary">Add Emergency Contacts</div>
</div>
<hr>

<div class="box" id="interests">
<div>Interests</div>
<hr>
<div class="btn btn-primary">Home Improvement & DIY</div>
</div>
<hr>

<div class="box" id="loveaboutbuilding">
<div>What I Love About My Building</div>
<hr>
<div class="btn btn-primary">Add Your Favorites</div>
</div>
<hr>

<div class="box" id="skills">
<div>Skills</div>
<hr>
<div class="btn btn-primary">Add Skills</div>
</div>
<hr>

<div class="box" id="recentactivity">
<div class="btn btn-primary">Recent Activity</div>
<hr>
</div>
<hr>
</div> <!--closing tag for css-->








