<div style="margin: 0% 20% 0 20%">
<h1>History Page</h1>

<div class="box" id="userhistory">
<div class="btn btn-primary"><%= link_to 'User History', histories_path, class: "btn btn-primary" %></div>
<hr>
<div type="View and manage your goods and services">View and manage your goods and services</div>
</div>
<hr>

