@import 'bourbon';
@import 'base/base';
@import 'building';
@import 'users';
@import 'goods';
@import 'services';


#goods-and-services{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 2rem;
  color:black;

}


#goods-and-services-title{
  text-align: left;
  font-family: monospace;
  font-size: 1.75rem;
  padding-top: 3rem;
  
}

#goods-and-services-title1{
  text-align: left;
  font-family: monospace;
  font-size: 1.75rem;
  padding-bottom: 1rem;
  margin-left: 0px;
}

.chat-button {
  height: 40px;
  width: 140px;
  margin-bottom: 10px;
}

.gsDescription {
  padding-left: .5rem;
}

.gsbutton1 {
  padding-bottom: 2rem;
  display: list-item;

}


.container {
  margin: 0 auto;
  max-width: 36em;
  padding: 2em 0 0;
  display: inline;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightblue;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.chat {
  height: 20em;
  width: 100%;
}

.messages {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  height: 10em;
  margin: 0 0 .5em;
  overflow-y: scroll;
  padding: .5em;
}

.message {
  .user {
    font-weight: bold;

    &.me {
      color: #b6191e;
    }
  }
}

.other-links {
  margin: .5em 0 0;
}

.box {
  text-align: center;
  background-color: white;
}


.c-modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; // This must be at a higher index to the rest of your page content
  transform: translateZ(0);
  background-color: rgba(#000, 0.15);
  transition: all 0.4s;
  animation: fadeIn 0.3s;
}

.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.7s, opacity 0.4s;
  transform: translate(-50%, -70%);
  animation: fadeIn 0.6s, slideIn 0.6s;

  @media screen and (min-width: 500px) {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}
.modal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slideIn { transform: translate(-50%, -50%); transition: transform 0.7s, opacity 0.4s; opacity: 1; }
.fadeIn { opacity: 1 };
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes slideIn {
  0% { transform: translate(-50%, -70%); }
  100% { transform: translate(-50%, -50%); }
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-image{
  border-radius: 5px 20px 5px;
  position: static;
}

.logout {
  text-align: right;
}

.pictureIcon {
  border-radius: 50px;
  border-color: green;
}

.search {
   width: 60%;
   margin-left: 20%;
   margin-right: 20%;
   padding-top: 1.75rem;
}

.chat_buildingpage {
  margin-top: 200px;
  padding-right: 1.5rem;
}

.footer {
  background-color: #333;
  height: 80px;
  overflow: hidden;
}
.footer a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer a.active {
  background-color: #4CAF50;
  color: white;
}

h3 {
  text-align: center;
  color: white;
  margin-left: 27%;
  margin-right: 33%;
}

#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 
 #social-em:hover {
     color: #f39c12;
 }

 .footer-contents {
   margin: auto;
   width: 30%;
   margin-left: 33%;
   margin-right: 33%;
 }