// Place all the styles related to the building controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
  width: 60%;
  margin: auto;
  display: flex;  
}

li {
  width: 60%;
  margin: auto;
  padding: 1em;
}

.homebuttons {
  text-align: center;
}

#goods-and-services-title {
  color: black;
}





