// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.login {

  /* background-image: url("Recycle_resize.svg .png");*/
   background-image: url("https://minio.dokku-hosted.thruhere.net/mymedia/peer-to-peer/brickell_background.jpg");
   background-color: #cccccc;
   height: 1200px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   flex-wrap: wrap;


.field{



}

.actions{


}

}

h2  {
  color: #FFD844;
  font-size:127px;
  line-height: 57px;
}


.container_login{
padding:auto;
margin:auto;
text-align: center;
}
